<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejemplo calculadora</title>
    <script src="https://unpkg.com/vue@3" defer></script>
    <script src="script.js" defer></script>
</head>
<body>

<div id="app">
    <form>
        <label>
            Numero 1: <input v-model="numeroA" type="number">
        </label>

        <label>
            Numero 2: <input v-model="numeroB" type="number">
        </label>

        <label>
            <select v-model="operacion">
                <option value="suma">Suma</option>
                <option value="resta">Resta</option>
                <option value="multiplicacion">Multiplicación</option>
                <option value="division">División</option>
                <option value="raiz">Raíz</option>
                <option value="potencia">Potencia</option>
                <option value="modulo">Módulo</option>
            </select>
        </label>
    </form>

    <div id="resultado">{{ resultado }}</div>
    <div id="historial"></div>
</div>
</body>
</html>